table {
    background-color: beige;

    border-color: black;
    border-style: solid;
    border-width: 3px;
    border-spacing: 5px 10px;
}

th {
    color: firebrick;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 700;
    font-size: 18px;
}

td {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

    text-align: center;
}

tr {
    border-style: solid;
    border-width: 3px;
}


.table_head {
    border-style: solid;
    border-width: 3px;
}

footer {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 12px;
    
    position: absolute;
    left: 0;
    bottom: 0;
}

.entry {
    border-spacing: 5px;
}

/* Trying to space out the mass column so that it fits on one line */
.mass {
    white-space: nowrap;
}

.picture {
    width: 4%;
    height: 4%;
}

#heading {
    margin: auto;
    text-align: center;
}

#heading h1 {
    color: indigo;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 800;
    font-size: 32px;
    
    border-width: 20px 5px 0px 0px;
    display: inline-block;
}

#footnote {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
}